<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Utilities.ExtentReportManager" />
	</listeners>
	<test thread-count="5" name="Test">
	<classes>

			<class name="TestCases.Car_Loan_Test" />
			<class name="TestCases.Home_Loan_Test" />
			<class name="Utilities.ExtentReportManager" />
			<class name="TestCases.UICheck_EMICal" />
			<class name="TestCases.UICheck_LoanAmountCal" />
			<class name="TestCases.UICheck_LoanTenureCal" />
			<class name="TestCases.MonthandYear_Test" />


	</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
